@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Bebas+Neue&family=Encode+Sans+SC:wght@300&family=Poppins:wght@200;700&family=Rubik:wght@700&display=swap");
header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
}

h2 {
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
}
ul li {
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
}

.name_div {
  width: 5%;
  padding: 20px 0;
}
.name_div_head {
  writing-mode: vertical-rl;
}

.about_div {
  width: 60%;
  padding-top: 300px;
  padding-left: 50px;
}
.about_div strong {
  color: #fefe33;
}
.about_div small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bounce {
  cursor: pointer;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
.bounce img {
  margin-top: 30px;
}

.options_div {
  width: 35%;
  height: 80%;
  background: #fefe33;
  padding-top: 200px;
  padding-left: 50px;
}
.options_div ul li a {
  color: #9f93e9;
  transition: all 0.3s ease-in-out;
}
.options_div ul li a:hover {
  margin-left: 20px;
  color: #7f82e1;
}

/* FOR MOBILE */
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
  ul li {
    display: none;
  }
  .options_div {
    display: none;
  }
}

/* CONTENT SECTION */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 20px;
}
.content h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}
.content img {
  width: 100px;
  height: 100px;
  margin: 0 20px 0 20px;
}
.content_head {
  text-align: center;
}
.content_head strong {
  color: #fefe33;
}

.techs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;
  align-items: center;
}

.frontend {
  width: 70%;
  align-items: center;
  padding: 20px 5px;
  text-align: center;
  border: 1px solid rgb(214, 212, 212);
  border-radius: 10px;
  box-shadow: 5px 10px 25px grey;
  background: #ffffff;
}
.backend_databases {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 20px;
  text-align: center;
  justify-content: space-evenly;
}
.backend {
  width: 40%;
  padding: 20px 20px;
  text-align: center;
  border: 1px solid rgb(214, 212, 212);
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 10px 25px grey;
}
.databases {
  width: 40%;
  padding: 20px 20px;
  text-align: center;
  border: 1px solid rgb(214, 212, 212);
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 25px grey;
}
.version_control {
  width: 50%;
  align-items: center;
  padding: 20px 20px;
  text-align: center;
  border: 1px solid rgb(214, 212, 212);
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 25px grey;
}
@media only screen and (max-width: 500px) {
  .content {
    padding: 20px 0;
  }
  .techs {
    padding: 0;
  }
  .content img {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 10px;
  }
  .frontend {
    width: 100%;
    padding: 0;
  }
  .backend_databases {
    flex-direction: column;
  }
  .backend {
    width: 100%;
  }
  .databases {
    width: 100%;
  }
}

/* ABOUT ME SECTION */
.about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}
.about_me {
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 30px;
}

.about_me_highlight {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.about_me_paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.about_image {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.about_image img {
  width: 300px;
  height: 380px;
}
@media only screen and (max-width: 500px) {
  .about_me {
    width: 100%;
  }
  .about_me_head {
    font-size: 2rem;
  }
  .about_me_highlight {
    font-size: 1rem;
  }
}

/* PROJECTS SECTION */
.projects {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 250px 250px;
  grid-auto-flow: row;
  grid-gap: 60px;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 30px 30px;
}
.projects p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.project_head {
  text-align: center;
}

.project {
  border: 1px solid red;
  height: auto;
  width: 320px;
}
.project_img {
  width: 100%;
}
.project_img img {
  width: 100%;
  object-fit: cover;
  max-height: 180px;
}

.project_text {
  text-align: left;
  padding: 5px 10px;
}
.project_text h3 {
  font-family: "Arimo", sans-serif;
}
.project_text a {
  cursor: pointer;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.project_text a:hover {
  text-decoration: underline;
}

/* CONTACT FORM */
.contact_div {
  width: 100%;
  padding: 20px 20px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.contact_form {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}

.contact_form h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.form_controls {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.form_submit {
  margin: 0 auto;
  padding: 5px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.form_submit:hover {
  background-color: #7f82e1;
}
.form_controls label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
.form_controls input {
  border: none;
  border-radius: 5px;
  padding: 0px 5px;
  height: 40px;
  font-size: 1.2rem;
  border: 2px solid transparent;
}
.form_controls input:focus {
  border: 2px solid #7f82e1;
  outline: none;
}
.form_controls textarea {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid transparent;
  font-family: "Poppins", sans-serif;
}
.form_controls textarea:focus {
  border: 2px solid #7f82e1;
  outline: none;
}
@media only screen and (max-width: 500px) {
  .contact_form {
    width: 100%;
  }
  .contact_form h1 {
    font-size: 1.5rem;
  }
  .form_controls {
    width: 100%;
  }
  .form_controls input {
    width: 100%;
  }
}

/* FOOTER SECTION */
footer {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  padding: 10px 0;
}
.email {
  font-family: "Rubik", sans-serif;
  color: #000;
}
.social_icons {
  text-align: center;
  padding: 10px 0;
}
.social_icons img {
  width: 30px;
  height: 30px;
}
.social_icons p {
  font-family: "Poppins", sans-serif;
}

/* KEYFRAMES FOR THE ARROW */
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
